html, body {
  box-sizing: border-box;
  /*font-family: 'Encode Sans Condensed', sans-serif;*/
  background: url("images/black_scales.png");
  height: 100%;
}

body * {
  font-family: 'Encode Sans Condensed', sans-serif;
}

/*  Titles  */
h1 {
  margin-top: 0;
}

h1, h2 {
  text-align: center;
}

label, legend {
  font-weight: 700;
}

legend {
  width: 100%;
  text-align: center;
}

/*  Nav Bar  */
#nav-bar {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid lightgray;
  margin-bottom: 0;
  height: 10vh;
  min-height: 3.5em;
  z-index: 2;
  -webkit-transform: translateZ(0);
}

#nav-bar > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  height: 100%;
  max-height: 4em;
  margin: 0;
  padding: 0;
  width: 100%;
}

#logo:hover {
  cursor: pointer;
}

#logo, #nav-bar li button {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 400px;
}

#nav-bar li {
  margin: 1em 0.5em 1em 0;
  max-width: 400px;
  font-size: 1.2em;
}

#nav-bar > ul > li:first-child {
  margin-left: 1em;
  margin-right: auto;
  width: 8em;
  height: 3em;
  font-size: 1em;
}

#nav-bar button {
  background-color: white;
  border: none;
  transition: color .3s;
}

#nav-bar button.sign-up, #nav-bar button.js-save {
  border: 2px solid #f2575e;
  border-radius: 10px;
  font-weight: 700;
}

#nav-bar button:hover {
  color: #f2575e;
  cursor: pointer;
}

#hamburger-button {
  width: 32px;
  height: 32px;
}

#hamburger-button:hover {
  cursor: pointer;
}

.menu {
  display: none;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
  right: 0;
  z-index: 99;
}

.expand {
  display: block;
  position: absolute;
}

.menu ul {
  list-style: none;
}

#nav-bar .menu button {
  background-color: rgb(245, 245, 245);
}

/*  Landing Page  */
.landing-page {
  /*height: 280vh;*/
}

/*main {
  display: flex;
  flex-direction: column;
  height: 100%;
}*/

main {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dice-background {
  background-image: url("https://s3.us-east-2.amazonaws.com/readme.images/dicebackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 0;
  height: 90vh;
  width: 100%;
}

.layer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 0, 0, 0.5);
  background-size: cover;
  margin-top: 0;
  height: 100%;
  width: 100%;
}

header h1 {
  color: white;
  font-size: 3em;
  margin-top: 
}

header h2 {
  color: white;
  font-size: 1.5em;
}

#landing-options {
  text-align: center;
}

#landing-options p {
  display: inline;
  color: white;
  font-size: 1.5em;
  transition: color .3s;
  margin-top: 0.2em;
}

#main-button {
  display: block;
  width: 75%;
  max-width: 400px; 
  height: 2em;
  font-size: 2em;
  font-weight: 700;
  color: black;
  background-color: white;
  border: none;
  border-radius: 10px;
  margin: 2em auto 0.5em;
  transition: color .3s;
}

#main-button:hover {
  color: #f2575e;
  background-color: white;
  cursor: pointer;
}

#example:hover {
  cursor: pointer;
  color: black;
}

section {
  padding: 1.5em 0;
  width: 100%;
}

.section-header {
  text-align: left;
  margin-left: 10%;
}

section p {
  line-height: 1.4em;
  font-size: 1.2em;
  margin: 1em 10%;
}

section p {
  margin: 1em 10%;
}

.feature-img {
  /*margin: 10%;*/
  width: 40%;
  max-width: 180px;
  height: 100%;
  max-height: 300px;
}

#info {
  background-color: rgb(230, 230, 230);
}

#feature-one, #feature-two {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#feature-one {
  background-color: white;
}

#feature-two {
  background-color: rgb(230, 230, 230);
}

#footer h2 {
  color: white;
}

#footer .sign-up {
  display: block;
  width: 50%;
  max-width: 300px; 
  height: 2em;
  font-size: 2em;
  font-weight: 700;
  color: black;
  background-color: white;
  border: none;
  border-radius: 10px;
  margin: 2em auto 0.5em;
  transition: color .3s;
}

#footer .sign-up:hover {
  color: #f2575e;
  background-color: white;
  cursor: pointer;
}

/* Account Creation and Login Pages */
#account-creation, #login-form {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 8em auto;
  width: 80%;
  max-width: 600px;
}

#account-creation input, #account-creation button, #login-form input, #login-form button {
  margin-bottom: 1.2em;
  width: 65%;
  max-width: 200px;
}

#account-creation input, #login-form input {
  border: none;
  border-bottom: 1px solid black;
}

#create, #login {
  max-width: 400px; 
  height: 1.5em;
  font-size: 1.2em;
  font-weight: 700;
  color: white;
  background-color: #f2575e;
  border: 1px solid white;
  border-radius: 10px;
  margin: auto;
  transition: background-color .3s;
}

#create:hover, #login:hover {
  background-color: #960f15;
  cursor: pointer;
}

/*  Home Page  */
#home-page-header {
  color: white;
}

#confirm-buttons {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

#confirm-buttons li {
  margin: auto;
  width: 20em;
}

#confirm-buttons button {
  display: block;
  border: none;
  color: white;
  background-color: #f2575e;
  transition: background-color .4s;
  border-radius: 10px;
  margin: 0 auto 1em;
  width: 90%;
  max-width: 400px; 
  height: 3em;
  font-size: 2em;
  font-weight: 700;
}

#confirm-buttons button:hover {
  color: #f2575e;
  background-color: white;
  cursor: pointer;
}

#big-new {
  display: block;
  border: none;
  color: black;
  background-color: white;
  transition: color .4s;
  border-radius: 10px;
  margin: 0 auto 1em;
  width: 40%;
  max-width: 200px; 
  height: 2.5em;
  font-size: 1.2em;
  font-weight: 400;
}

#big-new:hover {
  color: #f2575e;
  cursor: pointer;
}

/* Character Sheet */
#sheet {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  height: 100%;
}

form {
  background-image: url("images/lightpaperfibers.png");
  border-radius: 10px;
  margin: auto;
  margin-bottom: 2em;
  width: 90%;
}

/*  Macro  */
#macro {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
  padding-bottom: 1em;
}

#macro label {
  font-family: 'Encode Sans Condensed', sans-serif;
}

#macro > label {
  font-size: 1.4em;
  margin: 1em auto;
  text-align: center;
  width: 100%;
}

#macro > input {
  background: none;
  font-size: 1.7em;
  border: none;
  border-bottom: 1px solid black;
  margin: auto;
  margin-bottom: 0.5em;
  text-align: center;
  width: 95%;
}

#macro div {
  display: flex;
  flex-direction: column;
  margin: auto;
}

#macro div label, #macro div input {
  display: block;
  margin: 0.5em auto;
  text-align: center;
}

#macro div input{
  background: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
  width: 80%;
}

/*  Attributes  */
#attributes-header {
  /*margin-top: 2em;*/
  width: 100%;
}

#attributes {
  display: flex;
  flex-wrap: wrap;
}

#attributes fieldset {
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 0.5em;
  padding: 0;
  width: 30%;
  max-width: 200px;
}

#attributes legend {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 0.9em;
  margin: auto;
  margin-bottom: 1em;
  position: relative;
  top: 1em;
  padding: 0;
  text-align: center;
  width: 100%;
}

#attributes input {
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0;
  text-align: center;
  width: 2.5em;
}

.attribute {
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em;
}

.modifier {
  border: 1px solid black;
  border-radius: 100%;
  padding: 0.3em;
}

/*  Saving Throws  */
#throws-header {
  width: 100%;
}

#saving-throws {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#saving-throws fieldset {
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 0.5em;
  padding: 0;
  width: 30%;
  max-width: 200px;
  height: 6em;
}

#saving-throws fieldset * {
  position: relative;
  top: 1em;
}

#saving-throws legend {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 0.9em;
  margin: auto;
  padding: 0;
  text-align: center;
}

#saving-throws input {
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
  width: 30%;
}

/*  Combat  */
#combat-header {
  /*margin-top: 2em;*/
  width: 100%;
}

#combat {
  display: flex;
  flex-wrap: wrap;
}

#combat legend {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 0.9em;
  margin: auto;
  padding: 0;
  text-align: center;
}

.com-one {
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 0.5em;
  padding: 0;
  width: 30%;
  max-width: 200px;
  height: 6em;
}

.com-one * {
  position: relative;
  top: 1em;
}

.com-one input {
  border: 1px solid black;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  padding: 0;
  text-align: center;
  font-size: 1.5em;
  width: 30%;
}

#attacks-header {
  margin: auto;
  margin-top: 2em;
  width: 100%;
  text-align: center;
}

#attacks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;
}

#attacks div {
  display: flex;
  flex-wrap: nowrap;
  max-width: 550px;
}

#attack-labels {
  width: 100%;
}

#attacks span:first-of-type, #attacks span:nth-of-type(2) {
  border: none;
  margin: 0.5em;
  text-align: center;
  width: 25%;
}

#attacks span:nth-of-type(3) {
  border: none;
  margin: 0.5em;
  padding-top: 0;
  text-align: center;
  width: 42%;
}

.atk-name, .atk-bonus {
  border: 1px solid black;
  border-radius: 3px;
  margin: 0.5em;
  text-align: center;
  width: 25%;
}

.atk-damage {
  border: 1px solid black;
  border-radius: 3px;
  margin: 0.5em;
  text-align: center;
  width: 42%;
}

#js-add-attack {
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  width: 40%;
  max-width: 200px;
  transition: background-color .3s;
}

#js-add-attack:hover {
  background-color: darkgray;
  cursor: pointer;
}

#hit-dice-field {
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-top: 4em;
    padding: 0;
    width: 30%;
    max-width: 200px;
    height: 6em;
}

#hit-dice-field * {
  position: relative;
  top: 1em;
}

#hitDice {
  display: block;
  margin: auto;
  margin-top: 0.5em;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  width: 50%;
}

#death-saves {
  margin: auto;
  margin-top: 2em;
}

#death-saves h3 {
  margin: 0.2em;
  font-size: 1.3em;
}

#death-saves fieldset {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 1em;
  width: 80%;
  text-align: center;
}

#death-saves input {
  margin: 0.3em;
}

/*  Skills  */
#skills-header {
  /*margin-top: 2em;*/
  width: 100%;
}

#skills {
  display: flex;
  flex-wrap: wrap;
}

#skills fieldset {
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 1em;
    padding: 0;
    width: 40%;
    max-width: 140px;
    height: 6em;
}

#skills legend {
  text-align: center;
  margin-bottom: 2em;
  line-height: 1em;
}

#skills .two-line {
  margin-bottom: 1em;
}

.skill-prof {
  margin-left: 2.5em;
  text-align: center;
  width: 20%;
}

#skills fieldset input:nth-of-type(2) {
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
  width: 20%;
}

#passiveWisdom {
  border: 1px solid black;
  border-radius: 3px;
  display: block;
  margin: auto;
  text-align: center;
  width: 20%;
}

/*  Equipment  */
#equipment {
  display: flex;
  flex-wrap: wrap;
}

#items-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  border-radius: 5px;
  border-top: none;
  margin: auto;
  margin-bottom: 2.5em;
  width: 90%;
}

#js-add-item {
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  margin-bottom: 0.5em;
  width: 40%;
  max-width: 200px;
  transition: background-color .3s
}

#js-add-item:hover {
  background-color: darkgray;
  cursor: pointer;
}

.items {
  background: none;
  width: 90%;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
}

#equipment label {
  margin: 0.5em auto;
  text-align: center;
}

#coins-header {
  margin: 1em 0;
  text-align: center;
  width: 100%;
}

#equipment fieldset {
  border: none;
  text-align: center;
  width: 100%;
}

#coins-div {
  border: none;
  border-radius: 5px;
  margin: auto;
}

.coins {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  margin: auto;
  text-align: center;
  width: 40%;
}

/*  Proficiencies and Languages  */
#proficiencies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 2.5em;
  width: 90%;
  max-width: 700px;
}

.profs {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
  width: 90%;
}

#js-add-prof {
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  margin-bottom: 0.5em;
  width: 40%;
  max-width: 200px;
  transition: background-color 3s;
}

#js-add-prof:hover {
  background-color: darkgray;
  cursor: pointer;
}

/*  Features and Traits  */
#features-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 2.5em;
  width: 90%;
  max-width: 700px
}

#js-add-trait {
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  margin-bottom: 0.5em;
  width: 40%;
  max-width: 200px;
  transition: background-color 3s;
}

#js-add-trait:hover {
  background-color: darkgray;
  cursor: pointer;
}

.traits {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
  width: 90%;
}

/*  Story  */
#story {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

#story-header {
  width: 100%;
}

#story div {
  text-align: center;
}

#story textarea {
  border: 1px solid black;
  border-radius: 5px;
  height: 8em;
  margin: 0.5em auto 1.5em auto;
  width: 90%;
}

#story h3 {
  margin-bottom: 0;
}

@media only screen and (min-width: 1050px) {
  #sheet {
    align-items: stretch;
  }

  form {
    width: 40%;
    margin: auto;
  }

  #macro {
    width: 90%;
    margin-bottom: 2em;
  }

  #macro div {
    width: 25%;
  }

  #attributes, #saving-throws {
    order: 1;
  }

  #combat, #skills {
    order: 2;
    position: relative;
    top: 2em;
  }

  #equipment {
    order: 2;
    position: relative;
    top: 4em;
    width: 90%;
  }

  #prof-and-lang, #features {
    order: 2;
    position: relative;
    top: 6em;
  }

  #story {
    order: 2;
    position: relative;
    top: 8em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }

  #story div {
    width: 40%;
  }

  #hit-dice-field {
    margin-left: 20%; 
  }  

  #death-saves {
    margin-right: 20%;
  }

  #items-div {
    margin: auto;
    width: 55%;
  }

  #coins-div {
    margin: 0 auto;
    width: 25%;
  }
}